# Configuration for HAProxy 3.0.5 as included in RHEL 10.2
# https://docs.haproxy.org/3.0/configuration.html
# 
# Known bugs: https://www.haproxy.org/bugs/bugs-3.0.html 

global
    log         /rsyslog-socket {{ ha_haproxy_syslog_facility }}

    chroot      /var/lib/haproxy
    pidfile     /run/haproxy.pid
    maxconn     100000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

{% if ansible_os_family == 'RedHat' %}
    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM
{% endif %}

#---------------------------------------------------------------------
# defaults for every 'listen' and 'backend' 
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  tcplog
    option                  dontlognull
    option                  http-server-close
    option                  log-health-checks
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 100000

resolvers haproxy_dns
    parse-resolv-conf
    # allow larger DNS payloads
    accepted_payload_size 65000 

listen stats
    bind :{{ ha_haproxy_stat_port }}
    mode http
    stats enable
    stats show-node
    stats show-legends
    stats uri {{ ha_haproxy_stat_uri }}
    stats refresh 10s

#---------------------------------------------------------------------
# Proxy definitions to /etc/haproxy/conf.d
#---------------------------------------------------------------------
    includedir /etc/haproxy/conf.d
